body {
  margin: 0;
  padding: 0;
  background-image: url('https://media.tenor.com/_4YgA77ExHEAAAAd/rick-roll.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#backgroundAudio {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Puts the audio element behind other content */
  opacity: 0; /* Make the audio element invisible */
}


